
/* Light/Dark Mode */

body {
    --text-color: #101517;
    --bkg-color: white;
    --accent-color: #115995;
}

body.dark-theme {
    --text-color: white;
    --bkg-color: #101517;
    --accent-color: #5AB9EA;
}
  
@media (prefers-color-scheme: dark) {
    body {
        --text-color: white;
        --bkg-color: #1c1f25;
		--accent-color: #5AB9EA;
    }

    body.light-theme {
        --text-color: #101517;
        --bkg-color: white;
		--accent-color: #115995;
    }
}

html {
    max-width: 70ch;
    padding: 0em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

body {
    font-family: 'Inter';
    background-color: var(--bkg-color);
    color: var(--text-color);
}

header {
    justify-content: space-between;
}

footer {
    position: absolute;
    bottom: 0;
}

button {
    all: unset;
    cursor: pointer;
}
/* 

h1 {
    font-weight: 500;
    font-size: calc(1.25em + 0.5vw);
}
 */

h2 {
    font-weight: 500;
    font-size: calc(1em + 0.2vw);
}

/* 
h3 {
    font-weight: 500;
    font-size: calc(0.9em + 0.2vw);
}
 */

h4 {
    font-weight: 300;
    font-size: calc(0.6em + 0.5vw);
}

p {
    font-weight: 400;
    font-size: calc(0.9em + 0.2vw);
}

a {
    text-decoration: none;
/*     text-underline-offset: 0.1em; */
    color: var(--accent-color);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--text-color);
}

.a-arrow {
    width: calc(0.6em + 0.5vw);
    height: calc(0.6em + 0.5vw);
    padding-left: 0.1em;
}

#toggle-dark-mode {
    width: calc(1em + 0.5vw);
    height: calc(1em + 0.5vw);
}

/* Flex Classes */
.row {
	display: flex;
	flex-direction: row;
	/* flex-wrap: /* wrap */; */
	width: 100%;
    align-items: center;
    justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
}
