---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Sam Burkhard">
    
    <main class="column">

        <section>
            <h2>Computer Engineering student at the University of 
                Cincinnati with a passion for technology & tinkering
            </h2>
        </section>

        <section>
            <!-- <h2><a href="/projects">Projects</a></h2> -->
            <h2><a href="./Sam Burkhard Resume 2022.pdf" download="Sam Burkhard Resume 2022.pdf" target="_blank" rel="noopener noreferrer">Resume</a></h2>
            <h2><a href="mailto: me@samburkhard.com">Mail</a></h2>
        </section>

    </main>
</BaseLayout>