---
const posts = await Astro.glob('./posts/*.md');
---

<html>
  <head>
    <title>Sam Burkhard | Home</title>
  </head>
  <body>
    <h1>samburkhard.com</h1>
	<div>
		{posts.map((post) => (
			<article>
				<h1>{post.frontmatter.title}</h1>
				<p>{post.frontmatter.description}</p>
				<a href={post.frontmatter.url}>Read more</a>
			</article>
		))}
	</div>
  </body>
</html>

<style>

:global(body) {
	font-family: Helvetica, sans-serif;
}

</style>
