
---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Projects">
    
    <main class="column">

        <h2><a href="https://apps.apple.com/us/app/carafe/id1615607237" target="_blank">Carafe</a> – Coffee ratio calculator for iOS</h2>

        <h2><a href="https://devpost.com/software/retro-or-not" target="_blank">Retro or Not?</a> – AI Retro song classifier (Winner of Best AWS Implementation)</h2>

        <h2><a href="https://hack.osu.edu/2021/#winners" tartet="_blank">InSite</a> – AI misinformation classifier (Hack OHI/O Honorable Mention)</h2>

    </main>

</BaseLayout>